.home {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

/* .header {
  text-align: center;
  background-color: #004d99;
  color: #fff;
  padding: 40px 0;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
} */

/* .header p {
  font-size: 1.2em;
  margin-top: 10px;
} */

.services {
  margin-top: 10px;
}

.services h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.states {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.state-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.state-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.state-card h3 {
  margin-top: 15px;
  font-size: 1.5em;
  color: #004d99;
}

.state-card p {
  margin-top: 10px;
  font-size: 1em;
  color: #555;
}

.cta {
  text-align: center;
  /* background-color: #004d99; */
  color: #0a0a0a;
  padding: 40px 20px;
  margin-top: 40px;
  border-radius: 8px;
}

.cta h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.cta p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #e68a00;
}
